
div.comment {
	border: 1px solid black;
        background-color: white;
        margin: 10px 0px;

}
.comment-spacing {
        margin: 15px;
}

div.comment div.body {
	padding: 10px 10px;
}

div.comment div.replyto {
    text-align:right;
    margin:2px;
    padding:2px;
}
div.comment div.replyto div {
    text-align: left;
}
div.comment .title {
        background-color: #ddd;
	font-weight: bold;
	font-size: 110%;
	padding: 5px;

}

div.comment .title a {
        color: black !important;
}

div.comment .title a:hover {
        color: black !important;
}

div.comment .link {
	float: right;
        padding-top: 0.25ex;
        padding-right: 0.5em;
}

div.comment div.tagline {
        text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 96%;
	padding: 0.26ex 10px !important;
}
